
/* Extracted inline declarations */
.blade-inline-1 { font-size:0.75rem !important; color:#aaa !important;  }
.blade-inline-2 { text-align:center !important; color:#888 !important; padding:2rem !important;  }
